{% extends "heatmap/base.html" %}
{% block content %}
{% load staticfiles %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
<script>
{% if positive %}
var positiveTweets = {{ positive|safe }};
{% endif %}
{% if negative %}
var negativeTweets = {{ negative|safe }};
{% endif %}
</script>
<script src="{% static "js/map.js" %}"></script>
<link href="{% static "css/map.css" %}" rel="stylesheet"></link>
<div id="map-canvas"></div>

{% endblock %}
